
/* Setup Styles  */

body {
	/* Change the background image here  */
    font-family: 'Pathway Gothic One', sans-serif;
}

a, a:visited{color:blue;
	
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
	
}
a:hover,a:active{color: #052576;
	text-decoration: none;
}


h1,h2,h3,h4,h5,h6 {
	font-weight:300;
}

h1 {
	font-weight:300;
	font-size:40px;
	text-align:center;
	line-height:55px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:30px;
}

.dark {
	color:#fff;
}

.center {
	float:none;
	margin:0 auto;
}

/* Main Container Styles  */

.main-container {
	position:relative;
    /*background: url('../img/hands.jpg') #000 top center  no-repeat;*/
    /*background-size: 100%;*/

}


.main-container .container {
	padding:0px;
}

#header .span2
{
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

#header a
{
    color: #000000;
}

#header a.span4 {
    background:url('../../logo.png') no-repeat center center;
    height:80px;
}

/* Section Styles  */
.footer
{
    width: 100%;
    height: 160px;
    /*padding: 20px;;*/
    padding-top: 20px;
    background: #464646;
    color: #ffffff;
}

.footer .container-fluid
{
    width: 1180px;
    margin: auto;

}

.footer
{
    font-family: 'verdana';
}
.footer .contact-title
{
    margin-top: 20px;
    font-size: 18px;
}

.footer .contact-info
{
    margin-top: 20px;
    font-weight: normal;
    font-size: 17px;
    color: #009AD0;
    line-height: 23px;
}

.footer a {
    color: #009AD0;
    text-decoration: none;

}

.footer .span4,.footer .span5
{
    border-right: 2px solid #ffffff;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
}

.container .anythingSlider-default .arrow a
{
    background: url(../img/right-arrow.png) no-repeat;
}

.container .anythingSlider-default .arrow.back a
{
    background: url(../img/left-arrow.png) no-repeat;
}

.container .anythingSlider-default {
    margin: 0 auto;
    padding: 0 145px 28px 145px;
}
.container .anythingSlider-default.activeSlider .anythingControls a:hover
{
    background: #888888;
    color: #888888;
}

.container #slider li{
    font-size: 80px;
    vertical-align:  middle;
    line-height: 80px;
}

.container
{
    font-family: 'Raleway', sans-serif;
}

.container li div.frame.pull-right
{
    color: #ffffff;
    margin-top: 50px;
    padding: 15px;
    font-size: 22px;
    width: 200px;
    line-height: 26px;
    font-style: italic;
}

#slider li div:first-child
{
    font-family: 'Unlock';
}
.container li div.frame.pull-left
{
    color: #ffffff;
    margin-top: 90px;
    padding: 15px;
    font-size: 22px;
    width: 200px;
    line-height: 26px;
    font-style: italic;
}
.container li div.description
{
    line-height: 22px;
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.container .anythingControls
{
    position: absolute;
    margin-top: -650px;
    margin-left: 35px;
}

.container .equala
{
    background: #F15929;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel1.cur
{
    background: #F15929;
    color: #F15929;
}

.container .bizzabo
{
    background: #93C640;
}

.container .bizzabo2
{
    background: #1074BC;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel2.cur
{
    background: #93C640;
    color: #93C640;
}

.container .appmyday
{
    background: #F3A31D;
}

.container .appmyday2
{
    background: #A32064;
}

.container .appmyday3
{
    background: #42C6EC;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel3.cur
{
    background: #F3A31D;
    color: #F3A31D;
}

.container .wisepricer
{
    background: #42C6EC;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel4.cur
{
    background: #42C6EC;
    color: #42C6EC;
}

.container .roomixer
{
    background: #009246;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel5.cur
{
    background: #009246;
    color: #009246;
}

.container .swayy
{
    background: #00Ab7F;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel6.cur
{
    background: #00Ab7F;
    color: #00Ab7F;
}

.container .morpheus
{
    background: #4E4D49;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel7.cur
{
    background: #4E4D49;
    color: #4E4D49;
}

.container .playgem
{
    background: #A1D841;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel8.cur
{
    background: #A1D841;
    color: #A1D841;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel9.cur
{
    background: #000000;
    color: #000000;
}

.container .justad
{
    background: #1B8EB8;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel10.cur
{
    background: #1B8EB8;
    color: #1B8EB8;
}

.container .licensario
{
    background: #007D64;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel11.cur
{
    background: #178CC3;
    color: #178CC3;
}

.container .askem
{
    background: #16394b;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel12.cur
{
    background: #16394b;
    color: #16394b;
}

.container .ringya
{
    background: #00A0d2;
    color: #ffffff;
}

.container .ringya2
{
    background: #f98600;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel13.cur
{
    background: #f98600;
    color: #f98600;
}

.container .seven_elements
{
    background: #EEA200;
    color: #ffffff;
}

.container .seven_elements2
{
    background: #800B50;
    color: #ffffff;
}

.container .seven_elements3
{
    background: #283A86;
    color: #ffffff;
}

.container .anythingSlider-default.activeSlider .anythingControls a.panel14.cur
{
    background: #EEA200;
    color: #EEA200;
}


.container .anythingSlider-default.activeSlider .anythingControls a
{
    color: #E3E4E6;
}

.container .anythingSlider-default.activeSlider .anythingControls a.cur
{
    border: 3px solid #E3E4E6;
}


.container .anythingSlider-default.activeSlider .anythingControls a
{
    background: #E3E4E6;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    padding: 0;
}

.container .anythingSlider-default.activeSlider .anythingWindow
{
    border-color: transparent;
}

#slider.anythingBase.horizontal
{
    height: 800px;
}

.founders_title
{
    color: #000000;
    font-size: 20px;
    line-height: 22px;

}
.founders
{
    color: #ffffff;
    padding: 20px;
    font-size: 24px;
    line-height: 26px;
    margin-right: 60px;
    width: 250px;
}

.url
{
    padding: 10px;
    font-size: 20px;
    line-height: 22px;
    font-style: italic;
}

.greybg
{
    color: #ffffff;;
    background: #57585A;
}

.whitebg
{
    background: #FFFFFF;
}

.blackbg
{
    background: #000000;
    color: #FFFFFF;
}

.blackbg .founders_title
{
    color: #ffffff;
}

.overview
{
    margin-top: 20px;
    font-size: 30px;
    line-height: 32px;
    margin-right: 60px;
    padding: 10px;
    font-style: italic;
}

.equala_logo
{
    margin-top: 70px;
    margin-left: 0px;
    display: block;
    width: 220px;
    height: 60px;
    background: url('../img/equala.png');
}

.bizzabo_logo
{
    margin-top: 70px;
    margin-left: 35px;
    display: block;
    width: 195px;
    height: 60px;
    background: url('../img/bizzabo.png');
}

.appmyday_logo
{
    margin-top: 75px;
    margin-left: 100px;
    display: block;
    width: 150px;
    height: 60px;
    background: url('../img/appmyday.png');
}

.wisepricer_logo
{
    margin-top: 70px;
    margin-left: 115px;
    display: block;
    width: 267px;
    height: 60px;
    background: url('../img/wisepricer.png');
}

.roomixer_logo
{
    margin-top: 70px;
    margin-left: 155px;
    display: block;
    width: 279px;
    height: 60px;
    background: url('../img/roomixer.png');
}

.swayy_logo
{
    margin-top: 70px;
    margin-left: 230px;
    display: block;
    width: 220px;
    height: 60px;
    background: url('../img/swayy.png');
}

.morpheus_logo
{
    margin-top: 70px;
    margin-left: 265px;
    display: block;
    width: 300px;
    height: 135px;
    background: url('../img/morpheus.png');
}

.playgem_logo
{
    margin-top: 70px;
    margin-left: 340px;
    display: block;
    width: 220px;
    height: 60px;
    background: url('../img/playgem.png');
}

.doalbums_logo
{
    margin-top: 70px;
    margin-left: 375px;
    display: block;
    width: 253px;
    height: 60px;
    background: url('../img/doalbums.png');
}

.justad_logo
{
    margin-top: 70px;
    margin-left: 465px;
    display: block;
    width: 180px;
    height: 60px;
    background: url('../img/justad.png');
}

.licensario_logo
{
    margin-top: 70px;
    margin-left: 475px;
    display: block;
    width: 265px;
    height: 60px;
    background: url('../img/licensario.png');
}

.askem_logo
{
    margin-top: 70px;
    margin-left: 565px;
    display: block;
    width: 197px;
    height: 65px;
    background: url('../img/askem.png');
}

.ringya_logo
{
    margin-top: 75px;
    margin-left: 670px;
    display: block;
    width: 144px;
    height: 65px;
    background: url('../img/ringya.png');
}

.seven_elements_logo
{
    margin-top: 70px;
    margin-left: 665px;
    display: block;
    width: 205px;
    height: 65px;
    background: url('../img/7elements.png');
}

.row .span6 .span3
{
    margin-left: 75px;
    font-size: 17px;
    font-weight: bold;
}