
/* Setup Styles  */

body {
	/* Change the background image here  */
    font-family: 'Doppio One', sans-serif;
    min-width: 1024px;
}

a, a:visited{color:blue;
	
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
	
}
a:hover,a:active{color: #052576;
	text-decoration: none;
}


h1,h2,h3,h4,h5,h6 {
	font-weight:300;
}

h1 {
	font-weight:300;
	font-size:40px;
	text-align:center;
	line-height:55px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:30px;
}

.dark {
	color:#fff;
}

.center {
	float:none;
	margin:0 auto;
}

/* Main Container Styles  */

.main-container {
	position:relative;
    background: url('../img/hands.jpg') #000 top center  no-repeat;
    background-size: 100%;

}


.main-container .container {
	padding:0px;
	min-height: 1000px;
}

#header .span2
{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#header a{
    background:url('../../logo.png') no-repeat center center;
    height:80px;
}

/* Section Styles  */
.footer
{
    width: 100%;
    height: 160px;
    padding: 20px;;
    background: #464646;
    color: #ffffff;
}

.footer .container-fluid
{
    width: 1180px;
    margin: auto;

}

.footer
{
    font-family: 'verdana';
}
.footer .contact-title
{
    margin-top: 20px;
    font-size: 18px;
}

.footer .contact-info
{
    margin-top: 20px;
    font-weight: normal;
    font-size: 17px;
    color: #009AD0;
}

.footer a {
    color: #009AD0;
    text-decoration: none;
}
